@model Studio

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Stüdyo Ekle</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <button class="btn btn-primary" type="submit">Ekle</button>
        <a asp-action="Index" class="btn btn-secondary">Listeye Geri Dön</a>
    </div>

</form>

@section scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}