@model GameShopModels.ViewModel.GameVM
<div class="container">
    <form method="post" asp-action="Upsert" enctype="multipart/form-data">
        <input asp-for="Game.Id" hidden />
        <input asp-for="Game.ImgUrl" hidden />
        <div class="border p-3 mt-4">
            <div class="row mb-2">
                <h2 class="text-primary">Oyun @(Model.Game.Id != 0 ? "Güncelle" : "Ekle")</h2>
            </div>
            <div class="mb-3">
                <label asp-for="Game.Name"></label>
                <input asp-for="Game.Name" class="form-control" />
                <span asp-validation-for="Game.Name" class="text-danger"></span>
            </div>
             <div class="mb-3">
                <label asp-for="Game.CategoryId"></label>
                <select asp-for="Game.CategoryId" asp-items="@Model.CategoryList" class="form-select">
                    <option disabled selected>Türü Seçiniz</option>
                </select>
                
                <span asp-validation-for="Game.CategoryId" class="text-danger"></span>
            </div>
             <div class="mb-3">
                 <label asp-for="Game.StudioId"></label>
                 <select asp-for="Game.StudioId" asp-items="@Model.StudioList" class="form-select">
                     <option disabled selected >Stüdyo Seçiniz.</option>
                 </select>
                 <span asp-validation-for="Game.StudioId" class="text-danger"></span>
             </div>
            <div class="mb-3">
                <label asp-for="Game.Description"></label>
                <textarea asp-for="Game.Description" class="form-control"></textarea>
            </div>
             <div class="mb-3">
                <label asp-for="Game.Price"></label>
                <input min="0" asp-for="Game.Price" class="form-control" />
                <span asp-validation-for="Game.Price" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Game.ImgUrl"></label>
                <input type="file" name="file" class="form-control" />
            </div>
             <div class="mb-3">
                <label asp-for="Game.Stock"></label>
                <input min="0" asp-for="Game.Stock" class="form-control" />
                <span asp-validation-for="Game.Stock" class="text-danger"></span>
            </div>
            
            <div class="col-md-12">
                @if(Model.Game.Id == 0) {
                    <button type="submit" class="btn btn-primary">Oluştur</button>
                }
                else {
                        <button type="submit" class="btn btn-primary">Düzenle</button>
                }

                <a asp-action="Index" class="btn btn-secondary">Listeye geri dön</a>

            </div>
        </div>
    </form>
</div>


@section Scripts {
    @{
    <partial name="_ValidationScriptsPartial" />
    }
    }